* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(229, 229, 229, 0.664);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 75px;
    background-color: rgb(146, 105, 184);
    text-align: center;
    padding: 6px;
    color: rgb(229, 229, 229);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
    width: 50%;
}

.metodos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

article {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.botoes {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background-color: rgb(214, 196, 231);
    width: 100%;
    cursor: pointer;
}

input {
    flex: 1;
    padding: 10px 8px;
    margin: 8px 0;
    border: 1px solid rgba(146, 105, 184, 0.542);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
    background-color: rgba(161, 161, 161, 0.097);
}

#resultados {
    height: 400px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid rgba(146, 105, 184, 0.542);
    padding: 20px 10px;
    margin: 8px 0;
    border-radius: 20px;
}

#resultados::-webkit-scrollbar {
    width: 10px;
}

#resultados::-webkit-scrollbar-track {
    background: transparent;
}

#resultados::-webkit-scrollbar-thumb {
    background-color: rgb(214, 196, 231);
    ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    background-clip: padding-box;
    min-height: 60px;
}

footer {
    margin-top: auto;
    text-align: center;
}